body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono";

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;

  /* Colors */
  --color-black: #000;
  --color-cornflowerblue-100: #b5b4fe;
  --color-cornflowerblue-200: #8ba4fa;
  --color-whitesmoke-100: #f8f7f9;
  --color-whitesmoke-200: #f0f4f0;
  --color-gainsboro: #d9d9d9;
  --color-lightcoral-100: #ff9ba1;
  --color-lightcoral-200: #e78e8e;
  --color-white: #fff;
  --color-lightsteelblue: #b1bdff;
  --color-blue: #0027ff;

  /* Border radiuses */
  --br-20xl: 39px;
  --br-29xl: 48px;
  --br-32xl: 51px;
  --br-87xl: 106px;
  --br-18xl: 37px;
  --br-90xl: 109px;
}
