.detail-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1080px;
}
.detail-inner,
.detail-item {
  position: absolute;
  left: 66px;
  border-radius: var(--br-20xl);
  width: 648px;
}
.detail-item {
  top: 203px;
  background-color: var(--color-gainsboro);
  height: 564px;
}
.detail-inner {
  top: 809px;
  height: 212px;
}
.rectangle-icon {
  left: 243.5px;
  border-radius: var(--br-20xl);
  width: 101px;
}
.beds,
.people,
.rectangle-div,
.rectangle-icon {
  position: absolute;
  top: 926px;
  height: 54px;
}
.rectangle-div {
  left: 583px;
  border-radius: var(--br-20xl);
  background-color: var(--color-lightcoral-200);
  width: 101px;
}
.beds,
.people {
  left: 72px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179px;
}
.people {
  top: 902px;
  left: 413px;
  width: 158px;
  height: 98px;
}
.detail-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 100px;
}
.hello {
  font-weight: 500;
}
.username {
  font-weight: 800;
}
.hello-username-txt-container {
  width: 100%;
}
.hello-username {
  top: 4px;
  left: 1306px;
  width: 614px;
  height: 46px;
}
.hello-username,
.hotels-name,
.my-profile,
.rooms-type {
  position: absolute;
  display: flex;
  align-items: center;
}
.my-profile {
  top: 54px;
  left: 1306px;
  font-weight: 800;
  justify-content: center;
  width: 614px;
  height: 46px;
}
.hotels-name,
.rooms-type {
  top: 231px;
  left: 83px;
  font-size: var(--font-size-29xl);
  text-align: left;
  width: 550px;
  height: 61px;
}
.rooms-type {
  top: 827px;
  left: 86px;
}
.location {
  top: 279px;
  left: 6px;
  height: 108px;
}
.description,
.location,
.phone {
  position: absolute;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
}
.phone {
  top: 345px;
  left: -19px;
  height: 108px;
}
.description {
  top: 444px;
  left: 38px;
}
.detail-child3,
.detail-child4,
.detail-child5 {
  position: absolute;
  top: 203px;
  left: 742px;
  border-radius: var(--br-29xl);
  background-color: var(--color-whitesmoke-100);
  width: 564px;
  height: 396px;
}
.detail-child4,
.detail-child5 {
  top: 629px;
}
.detail-child5 {
  top: 204px;
  left: 1331px;
  height: 395px;
}
.detail-child6,
.detail-child7 {
  position: absolute;
  top: 851.5px;
  left: 1451px;
  border-radius: var(--br-20xl);
  width: 324px;
  height: 87px;
}
.detail-child7 {
  top: 708px;
  left: 1424px;
  background-color: var(--color-cornflowerblue-100);
  width: 377px;
  height: 84px;
}
.book,
.price {
  position: absolute;
  display: flex;
  text-align: left;
  align-items: center;
  width: 200px;
  height: 39px;
}
.price {
  top: 730px;
  left: 1451px;
  font-size: 28px;
  font-weight: 100;
}
.book {
  top: 878px;
  left: 1551px;
  font-size: var(--font-size-29xl);
  text-transform: uppercase;
  color: #a00101;
}
.detail {
  width: 100%;
  position: relative;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
