.manager-1-child,
.manager-1-inner,
.manager-1-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1080px;
}
.manager-1-inner,
.manager-1-item {
  background-color: var(--color-gainsboro);
  height: 100px;
}
.manager-1-inner {
  top: 162px;
  left: 61px;
  border-radius: var(--br-87xl);
  background-color: var(--color-whitesmoke-100);
  width: 807px;
  height: 864px;
}
.all-customer2 {
  position: absolute;
  top: 195px;
  left: 261px;
  font-size: var(--font-size-29xl);
  display: flex;
  text-align: left;
  align-items: center;
  width: 550px;
  height: 61px;
}
.manager-1-child1 {
  position: absolute;
  top: 162px;
  left: 1013px;
  border-radius: var(--br-87xl);
  background-color: var(--color-whitesmoke-100);
  width: 807px;
  height: 864px;
}
.manager-1-child2,
.manager-1-child3 {
  position: absolute;
  top: 330px;
  left: 94px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 741px;
  height: 101px;
}
.manager-1-child3 {
  top: 372px;
  left: 697px;
  background-color: var(--color-lightcoral-100);
  width: 114px;
  height: 51px;
}
.detail1,
.username3 {
  position: absolute;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.username3 {
  top: 321px;
  left: 80px;
  justify-content: center;
  width: 253px;
  height: 96px;
}
.detail1 {
  top: 383px;
  left: 719px;
  font-size: var(--font-size-xl);
  text-align: left;
  width: 83px;
  height: 30px;
}
.manager-1-child4 {
  position: absolute;
  top: 886px;
  left: 94px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 741px;
  height: 101px;
}
.username4 {
  position: absolute;
  top: 877px;
  left: 80px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 96px;
}
.manager-1-child5 {
  position: absolute;
  top: 604px;
  left: 94px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 741px;
  height: 101px;
}
.username5 {
  position: absolute;
  top: 595px;
  left: 80px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 96px;
}
.manager-1-child6 {
  position: absolute;
  top: 468px;
  left: 94px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 741px;
  height: 101px;
}
.username6 {
  position: absolute;
  top: 459px;
  left: 80px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 96px;
}
.manager-1-child7 {
  position: absolute;
  top: 750px;
  left: 94px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 741px;
  height: 101px;
}
.username7 {
  position: absolute;
  top: 741px;
  left: 80px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 96px;
}
.manager-1-child8 {
  position: absolute;
  top: 278px;
  left: 1070px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 702px;
  height: 73px;
}
.username8 {
  position: absolute;
  top: 261px;
  left: 1021px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 108px;
}
.hello-manager2 {
  font-weight: 500;
}
.username9 {
  font-weight: 800;
}
.hello-manager-username-container5 {
  width: 100%;
}
.hello-manager-username-container4,
.username-profile {
  position: absolute;
  top: 4px;
  left: 1306px;
  display: flex;
  align-items: center;
  width: 614px;
  height: 46px;
}
.username-profile {
  top: 195px;
  left: 1183px;
  font-size: var(--font-size-29xl);
  text-align: left;
  width: 637px;
  height: 61px;
}
.all-customer3,
.my-hotel2,
.my-profile3 {
  position: absolute;
  top: 54px;
  left: 1306px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 614px;
  height: 46px;
}
.all-customer3,
.my-hotel2 {
  top: 50px;
  left: 653px;
}
.my-hotel2 {
  left: -46px;
}
.manager-1-child9 {
  position: absolute;
  top: 386px;
  left: 1070px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 702px;
  height: 73px;
}
.full-name {
  position: absolute;
  top: 369px;
  left: 1021px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 108px;
}
.manager-1-child10 {
  position: absolute;
  top: 494px;
  left: 1070px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 702px;
  height: 73px;
}
.email2 {
  position: absolute;
  top: 477px;
  left: 1021px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 108px;
}
.manager-1-child11 {
  position: absolute;
  top: 601px;
  left: 1070px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 702px;
  height: 73px;
}
.phone1 {
  position: absolute;
  top: 584px;
  left: 1021px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 108px;
}
.manager-1-child12 {
  position: absolute;
  top: 709px;
  left: 1070px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 702px;
  height: 219px;
}
.previous-booking {
  position: absolute;
  top: 691px;
  left: 960px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 592px;
  height: 108px;
}
.manager-1-child13 {
  position: absolute;
  top: 261px;
  left: 155px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro);
  width: 579px;
  height: 45px;
}
.search-user {
  position: absolute;
  top: 263px;
  left: 212px;
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  width: 562px;
  height: 43px;
}
.manager-1-child14 {
  position: absolute;
  top: 505px;
  left: 697px;
  border-radius: var(--br-20xl);
  background-color: var(--color-lightcoral-100);
  width: 114px;
  height: 51px;
}
.detail2 {
  position: absolute;
  top: 516px;
  left: 719px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  width: 83px;
  height: 30px;
}
.manager-1-child15 {
  position: absolute;
  top: 638px;
  left: 697px;
  border-radius: var(--br-20xl);
  background-color: var(--color-lightcoral-100);
  width: 114px;
  height: 51px;
}
.detail3 {
  position: absolute;
  top: 649px;
  left: 719px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  width: 83px;
  height: 30px;
}
.manager-1-child16 {
  position: absolute;
  top: 787px;
  left: 697px;
  border-radius: var(--br-20xl);
  background-color: var(--color-lightcoral-100);
  width: 114px;
  height: 51px;
}
.detail4 {
  position: absolute;
  top: 798px;
  left: 719px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  width: 83px;
  height: 30px;
}
.manager-1-child17 {
  position: absolute;
  top: 925px;
  left: 697px;
  border-radius: var(--br-20xl);
  background-color: var(--color-lightcoral-100);
  width: 114px;
  height: 51px;
}
.detail5 {
  position: absolute;
  top: 936px;
  left: 719px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  width: 83px;
  height: 30px;
}
.search-alt-light-icon1 {
  position: absolute;
  top: 267px;
  left: 174px;
  width: 33px;
  height: 34px;
}
.check-in-date,
.check-out-date,
.price1 {
  position: absolute;
  top: 741px;
  left: 1035px;
  font-size: var(--font-size-5xl);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 108px;
}
.check-out-date,
.price1 {
  top: 779px;
  left: 1040px;
}
.price1 {
  top: 817px;
  left: 978px;
}
.manager-1 {
  width: 100%;
  position: relative;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
