<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/admin-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="admin-1">
      <div class="admin-1-child"></div>
      <div class="admin-1-item"></div>
      <div class="admin-1-inner"></div>
      <b class="all-user-account">All user Account</b>
      <div class="admin-1-child1"></div>
      <div class="admin-1-child2"></div>
      <div class="admin-1-child3"></div>
      <div class="username12">Username:</div>
      <div class="role">Role:</div>
      <div class="admin-1-child4"></div>
      <div class="admin-1-child5"></div>
      <div class="username13">Username:</div>
      <div class="role1">Role:</div>
      <div class="admin-1-child6"></div>
      <div class="admin-1-child7"></div>
      <div class="username14">Username:</div>
      <div class="role2">Role:</div>
      <div class="admin-1-child8"></div>
      <div class="admin-1-child9"></div>
      <div class="username15">Username:</div>
      <div class="role3">Role:</div>
      <div class="admin-1-child10"></div>
      <div class="admin-1-child11"></div>
      <div class="username16">Username:</div>
      <div class="role4">Role:</div>
      <div class="admin-1-child12"></div>
      <div class="username17">Username:</div>
      <div class="admin-1-child13"></div>
      <div class="edit1">Edit</div>
      <div class="hello-admin-username-container4">
        <span class="hello-admin-username-container5">
          <span class="hello-admin2">Hello Admin</span>
          <span class="username18"> username!</span>
        </span>
      </div>
      <b class="username-profile1">Username profile</b>
      <div class="my-profile6">My profile</div>
      <div class="all-account2">All Account</div>
      <div class="all-hotel2">All Hotel</div>
      <div class="admin-1-child14"></div>
      <div class="full-name1">Full name:</div>
      <div class="admin-1-child15"></div>
      <div class="email5">Email:</div>
      <div class="admin-1-child16"></div>
      <div class="phone2">Phone:</div>
      <div class="admin-1-child17"></div>
      <div class="location5">Location:</div>
      <div class="admin-1-child18"></div>
      <div class="rank">Rank:</div>
      <div class="admin-1-child19"></div>
      <div class="search-user1">Search user</div>
      <img
        class="search-alt-light-icon4"
        alt=""
        src="../public/search-alt-light.svg"
      />
    </div>
  </body>
</html>
