<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./admin-2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="admin-2">
      <div class="admin-2-child"></div>
      <div class="admin-2-item"></div>
      <div class="all-account1">All Account</div>
      <div class="all-hotel1">All Hotel</div>
      <div class="admin-2-inner"></div>
      <b class="all-hotels">All Hotels</b>
      <div class="admin-2-child1"></div>
      <div class="admin-2-child2"></div>
      <div class="admin-2-child3"></div>
      <div class="admin-2-child4"></div>
      <div class="name3">Name:</div>
      <div class="detail6">Detail</div>
      <div class="remove">Remove</div>
      <div class="admin-2-child5"></div>
      <div class="admin-2-child6"></div>
      <div class="admin-2-child7"></div>
      <div class="name4">Name:</div>
      <div class="detail7">Detail</div>
      <div class="remove1">Remove</div>
      <div class="admin-2-child8"></div>
      <div class="admin-2-child9"></div>
      <div class="admin-2-child10"></div>
      <div class="name5">Name:</div>
      <div class="detail8">Detail</div>
      <div class="remove2">Remove</div>
      <div class="admin-2-child11"></div>
      <div class="admin-2-child12"></div>
      <div class="admin-2-child13"></div>
      <div class="name6">Name:</div>
      <div class="detail9">Detail</div>
      <div class="remove3">Remove</div>
      <div class="admin-2-child14"></div>
      <div class="admin-2-child15"></div>
      <div class="admin-2-child16"></div>
      <div class="name7">Name:</div>
      <div class="detail10">Detail</div>
      <div class="remove4">Remove</div>
      <div class="admin-2-child17"></div>
      <div class="name8">Name:</div>
      <div class="admin-2-child18"></div>
      <div class="admin-2-child19"></div>
      <div class="done1">Done</div>
      <div class="add-new-hotel">Add New Hotel</div>
      <div class="hello-admin-username-container2">
        <span class="hello-admin-username-container3">
          <span class="hello-admin1">Hello Admin</span>
          <span class="username11"> username!</span>
        </span>
      </div>
      <b class="hotels-profile">Hotel’s profile</b>
      <div class="my-profile5">My profile</div>
      <div class="admin-2-child20"></div>
      <div class="location4">Location:</div>
      <div class="admin-2-child21"></div>
      <div class="star3">Star:</div>
      <div class="admin-2-child22"></div>
      <div class="rooms3">Rooms:</div>
      <div class="admin-2-child23"></div>
      <div class="guestr3">Guest/R:</div>
      <div class="admin-2-child24"></div>
      <div class="email4">Email:</div>
      <div class="admin-2-child25"></div>
      <div class="description4">Description:</div>
      <div class="admin-2-child26"></div>
      <div class="search-hotel">Search hotel</div>
      <img
        class="search-alt-light-icon3"
        alt=""
        src="./public/search-alt-light.svg"
      />
    </div>
  </body>
</html>
