<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/edit-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="edit-profile">
      <div class="edit-profile-child"></div>
      <div class="edit-profile-item"></div>
      <div class="edit-profile-inner"></div>
      <div class="edit-profile-child1"></div>
      <div class="username19">Username:</div>
      <div class="edit-profile-child2"></div>
      <div class="done2">Done</div>
      <div class="hello-username1">
        <span class="hello-username-txt-container1">
          <span class="hello1">Hello</span>
          <span class="username20"> username!</span>
        </span>
      </div>
      <b class="edit-profile1">Edit profile</b>
      <div class="my-profile7">My profile</div>
      <div class="edit-profile-child3"></div>
      <div class="full-name2">Full name:</div>
      <div class="edit-profile-child4"></div>
      <div class="email6">Email:</div>
      <div class="edit-profile-child5"></div>
      <div class="phone3">Phone:</div>
      <div class="edit-profile-child6"></div>
      <div class="location6">Location:</div>
    </div>
  </body>
</html>
