<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/manager-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="manager-1">
      <div class="manager-1-child"></div>
      <div class="manager-1-item"></div>
      <div class="manager-1-inner"></div>
      <b class="all-customer2">All Customer</b>
      <div class="manager-1-child1"></div>
      <div class="manager-1-child2"></div>
      <div class="manager-1-child3"></div>
      <div class="username3">Username:</div>
      <div class="detail1">Detail</div>
      <div class="manager-1-child4"></div>
      <div class="username4">Username:</div>
      <div class="manager-1-child5"></div>
      <div class="username5">Username:</div>
      <div class="manager-1-child6"></div>
      <div class="username6">Username:</div>
      <div class="manager-1-child7"></div>
      <div class="username7">Username:</div>
      <div class="manager-1-child8"></div>
      <div class="username8">Username:</div>
      <div class="hello-manager-username-container4">
        <span class="hello-manager-username-container5">
          <span class="hello-manager2">Hello Manager</span>
          <span class="username9"> username!</span>
        </span>
      </div>
      <b class="username-profile">Username profile</b>
      <div class="my-profile3">My profile</div>
      <div class="all-customer3">All Customer</div>
      <div class="my-hotel2">My Hotel</div>
      <div class="manager-1-child9"></div>
      <div class="full-name">Full name:</div>
      <div class="manager-1-child10"></div>
      <div class="email2">Email:</div>
      <div class="manager-1-child11"></div>
      <div class="phone1">Phone:</div>
      <div class="manager-1-child12"></div>
      <div class="previous-booking">Previous Booking:</div>
      <div class="manager-1-child13"></div>
      <div class="search-user">Search user</div>
      <div class="manager-1-child14"></div>
      <div class="detail2">Detail</div>
      <div class="manager-1-child15"></div>
      <div class="detail3">Detail</div>
      <div class="manager-1-child16"></div>
      <div class="detail4">Detail</div>
      <div class="manager-1-child17"></div>
      <div class="detail5">Detail</div>
      <img
        class="search-alt-light-icon1"
        alt=""
        src="../public/search-alt-light.svg"
      />

      <div class="check-in-date">Check-in date:</div>
      <div class="check-out-date">Check-out date:</div>
      <div class="price1">Price:</div>
    </div>
  </body>
</html>
