<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/manager-3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="manager-3">
      <div class="manager-3-child"></div>
      <div class="manager-3-item"></div>
      <div class="all-customer">All Customer</div>
      <div class="my-hotel">My Hotel</div>
      <div class="manager-3-inner"></div>
      <div class="manager-3-child1"></div>
      <div class="rooms">Rooms:</div>
      <div class="manager-3-child2"></div>
      <div class="guestr">Guest/R:</div>
      <div class="manager-3-child3"></div>
      <div class="name">Name:</div>
      <div class="manager-3-child4"></div>
      <div class="manager-3-child5"></div>
      <div class="done">Done</div>
      <div class="no-rooms-available-container">
        <span class="no-rooms-available-container1">
          <p class="no-rooms">No rooms</p>
          <p class="no-rooms">available</p>
        </span>
      </div>
      <div class="hello-manager-username-container">
        <span class="no-rooms-available-container1">
          <span class="hello-manager">Hello Manager</span>
          <span class="username1"> username!</span>
        </span>
      </div>
      <b class="edit-my-hotels">Edit My Hotel’s Profile</b>
      <div class="my-profile1">My profile</div>
      <div class="manager-3-child6"></div>
      <div class="location1">Location:</div>
      <div class="manager-3-child7"></div>
      <div class="star">Star:</div>
      <div class="manager-3-child8"></div>
      <div class="email">Email:</div>
      <div class="manager-3-child9"></div>
      <div class="description1">Description:</div>
      <img
        class="search-alt-light-icon"
        alt=""
        src="../public/search-alt-light.svg"
      />
    </div>
  </body>
</html>
