<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./my-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="my-profile8">
      <div class="my-profile-child"></div>
      <div class="my-profile-item"></div>
      <div class="my-profile-inner"></div>
      <b class="bookings">Bookings</b>
      <div class="my-profile-child1"></div>
      <div class="my-profile-child2"></div>
      <div class="my-profile-child3"></div>
      <div class="price2">Price:</div>
      <div class="destination">Destination</div>
      <div class="check-in-date1">Check-in Date</div>
      <div class="my-profile-child2"></div>
      <div class="my-profile-child3"></div>
      <div class="price2">Price:</div>
      <div class="destination">Destination</div>
      <div class="check-in-date1">Check-in Date</div>
      <div class="my-profile-child6"></div>
      <div class="my-profile-child7"></div>
      <div class="price4">Price:</div>
      <div class="destination2">Destination</div>
      <div class="check-in-date3">Check-in Date</div>
      <div class="my-profile-child8"></div>
      <div class="my-profile-child9"></div>
      <div class="price5">Price:</div>
      <div class="destination3">Destination</div>
      <div class="check-in-date4">Check-in Date</div>
      <div class="check-out-date1">Check-out Date</div>
      <div class="check-out-date2">Check-out Date</div>
      <div class="check-out-date3">Check-out Date</div>
      <div class="my-profile-child10"></div>
      <div class="username21">Username:</div>
      <div class="my-profile-child11"></div>
      <div class="edit2">Edit</div>
      <div class="hello-username2">
        <span class="hello-username-txt-container2">
          <span class="hello2">Hello</span>
          <span class="username22"> username!</span>
        </span>
      </div>
      <b class="username-profile2">Username profile</b>
      <div class="my-profile9">My profile</div>
      <div class="my-profile-child12"></div>
      <div class="full-name3">Full name:</div>
      <div class="my-profile-child13"></div>
      <div class="email7">Email:</div>
      <div class="my-profile-child14"></div>
      <div class="phone4">Phone:</div>
      <div class="my-profile-child15"></div>
      <div class="location7">Location:</div>
      <div class="my-profile-child16"></div>
      <div class="rank1">Rank:</div>
      <div class="something-was-wrong">Something was wrong?</div>
    </div>
  </body>
</html>
