<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/search-room-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="search-room-1">
      <div class="search-room-1-child"></div>
      <div class="search-room-1-item"></div>
      <div class="search-room-1-inner"></div>
      <div class="search-room-1-child1"></div>
      <div class="enter-a-destination1">Enter a destination or property</div>
      <div class="search-room-1-child2"></div>
      <div class="check-in-date5">Check-in Date</div>
      <div class="search-room-1-child3"></div>
      <div class="check-out-date4">Check-out Date</div>
      <div class="search-room-1-child4"></div>
      <div class="number-of-guests1">Number of Guests</div>
      <div class="search-room-1-child5"></div>
      <div class="number-of-rooms1">Number of Rooms</div>
      <div class="search-room-1-child6"></div>
      <div class="search">Search</div>
      <div class="hello-username4">
        <span class="hello-username-txt-container4">
          <span class="hello4">Hello</span>
          <span class="username24"> username!</span>
        </span>
      </div>
      <div class="my-profile11">My profile</div>
      <img
        class="search-alt-light-icon6"
        alt=""
        src="../public/search-alt-light1.svg"
      />
    </div>
  </body>
</html>
