<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/search-room-2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="search-room-2">
      <div class="search-room-2-child"></div>
      <div class="search-room-2-item"></div>
      <div class="hello-username3">
        <span class="hello-username-txt-container3">
          <span class="hello3">Hello</span>
          <span class="username23"> username!</span>
        </span>
      </div>
      <div class="my-profile10">My profile</div>
      <div class="search-room-2-inner"></div>
      <div class="search-room-2-child1"></div>
      <b class="sort">Sort</b>
      <b class="price6">Price</b>
      <b class="type-of-rooms">Type of rooms</b>
      <div class="search-room-2-child2"></div>
      <div class="from">From</div>
      <div class="to">To</div>
      <div class="lowest-price-first">Lowest price first</div>
      <div class="highest-price-first">Highest price first</div>
      <img class="add-ring-icon" alt="" src="..public/add-ring.svg" />

      <img class="add-ring-icon1" alt="" src="../public/add-ring.svg" />

      <div class="search-room-2-child3"></div>
      <div class="search-room-2-child4"></div>
      <div class="search-room-2-child5"></div>
      <div class="search-room-2-child6"></div>
      <div class="number-of-guests">Number of Guests</div>
      <div class="number-of-rooms">Number of Rooms</div>
      <div class="maximum-guestroom">
        <span class="maximum-guestroom-txt-container">
          <p class="maximum">Maximum</p>
          <p class="maximum">Guest/Room</p>
        </span>
      </div>
      <div class="star-rating">Star rating</div>
      <div class="search-room-2-child7"></div>
      <div class="search-room-2-child8"></div>
      <div class="enter-a-destination">Enter a destination or property</div>
      <img
        class="search-alt-light-icon5"
        alt=""
        src="../public/search-alt-light1.svg"
      />

      <div class="hotels-name1">Hotel’s name</div>
      <div class="search-room-2-child9"></div>
      <div class="price7">Price:</div>
      <div class="search-room-2-child10"></div>
      <div class="hotels-name2">Hotel’s name</div>
      <div class="search-room-2-child11"></div>
      <div class="price8">Price:</div>
      <div class="search-room-2-child12"></div>
      <div class="hotels-name3">Hotel’s name</div>
      <div class="search-room-2-child13"></div>
      <div class="price9">Price:</div>
      <div class="search-room-2-child14"></div>
      <div class="hotels-name4">Hotel’s name</div>
      <div class="search-room-2-child15"></div>
      <div class="price10">Price:</div>
      <div class="search-room-2-child16"></div>
      <div class="hotels-name5">Hotel’s name</div>
      <div class="search-room-2-child17"></div>
      <div class="price11">Price:</div>
      <div class="search-room-2-child18"></div>
      <div class="hotels-name6">Hotel’s name</div>
      <div class="search-room-2-child19"></div>
      <div class="price12">Price:</div>
    </div>
  </body>
</html>
