<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/sign-up.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="sign-up">
      <div class="sign-up-child"></div>
      <div class="sign-up-item"></div>
      <div class="sign-up1">
        <p class="sign-up2">Sign up</p>
      </div>
      <div class="to-continue-to">to continue to HotelBooking</div>
      <div class="sign-up-inner"></div>
      <div class="email8">Email</div>
      <div class="sign-up-child1"></div>
      <div class="password">Password</div>
      <div class="sign-up-child2"></div>
      <div class="location8">Location</div>
      <div class="sign-up-child3"></div>
      <div class="username25">Username</div>
      <div class="sign-up-child4"></div>
      <div class="next">Next</div>
    </div>
  </body>
</html>
