<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/sign-in.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@100;300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="sign-in">
      <div class="sign-in-child"></div>
      <div class="sign-in-item"></div>
      <div class="sign-in1">Sign in</div>
      <div class="to-continue-to1">to continue to HotelBooking</div>
      <div class="dont-have-an">Don’t have an account yet?</div>
      <div class="sign-in-inner"></div>
      <div class="username-or-email">Username or Email</div>
      <div class="sign-in-child1"></div>
      <div class="password1">Password</div>
      <div class="forgot-password">Forgot password?</div>
      <div class="sign-in-child2"></div>
      <div class="next1">Next</div>
      <div class="create-account">Create account</div>
    </div>
  </body>
</html>
